
<div id="content" class="col-lg-10 col-lg-offset-1">
  <header id="header" class="col-log-12">
    <h1>{{ title }}</h1>
  </header>
  <nav id="menu" class="col-log-12">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Crear Productos</a></li>
    </ul>
  </nav>
  <section id="main" class="col-log-12">
    <!-- componente actual -->
    <br/><br/>
    <home></home>
    <br/>
  </section>
  <footer id="pie" class="col-log-12">
    <p> Angular 4 WebApp 2024</p>
  </footer>


</div>




    


<router-outlet />
